<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<PropertyGroup>
		<WebPublishMethod>MSDeploy</WebPublishMethod>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<SiteUrlToLaunchAfterPublish>http://OrangeJuiceProd.cloudapp.net</SiteUrlToLaunchAfterPublish>
		<ExcludeApp_Data>False</ExcludeApp_Data>
		<MSDeployServiceURL>http://OrangeJuiceProd.cloudapp.net/MsDeployAgentService</MSDeployServiceURL>
		<DeployIisAppPath>OrangeJuice.Server.Api</DeployIisAppPath>
		<RemoteSitePhysicalPath />
		<SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
		<MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
		<EnableMSDeployBackup>True</EnableMSDeployBackup>
		<UserName>OrangeJuiceProd\OrangeJuiceAdmin</UserName>
		<_SavePWD>True</_SavePWD>
	</PropertyGroup>
</Project>