<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ab" version="0.1.10" targetFramework="net452" />
  <package id="Ab.Amazon" version="0.1.11" targetFramework="net452" />
  <package id="Ab.Amazon.Azure" version="0.1.5" targetFramework="net452" />
  <package id="Ab.Azure" version="0.1.12" targetFramework="net452" />
  <package id="Ab.SimpleInjector" version="0.1.3" targetFramework="net452" />
  <package id="Ab.WebApi" version="0.1.2" targetFramework="net452" />
  <package id="Ab.WebApi.SimpleInjector" version="0.1.3" targetFramework="net452" />
  <package id="AutoMapper" version="4.0.4" targetFramework="net452" />
  <package id="Drum" version="0.3.1" targetFramework="net452" />
  <package id="elmah" version="1.2.2" targetFramework="net452" />
  <package id="Elmah.Contrib.WebApi" version="1.0.10.25" targetFramework="net452" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="FluentValidation" version="5.6.2.0" targetFramework="net452" />
  <package id="FluentValidation.WebApi" version="5.6.2.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Tracing" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.Azure.DocumentDB" version="1.4.1" targetFramework="net452" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net452" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="net452" />
  <package id="Microsoft.Data.Services.Client" version="5.6.4" targetFramework="net452" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.Jwt" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.1.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="OctoPack" version="3.0.43" targetFramework="net452" developmentDependency="true" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net452" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net452" />
  <package id="SimpleInjector" version="3.0.3" targetFramework="net452" />
  <package id="SimpleInjector.Extensions.ExecutionContextScoping" version="3.0.3" targetFramework="net452" />
  <package id="SimpleInjector.Integration.WebApi" version="3.0.3" targetFramework="net452" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.2.206221351" targetFramework="net452" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net452" />
  <package id="WebApiContrib" version="0.9.14.0" targetFramework="net452" />
  <package id="WindowsAzure.Storage" version="5.0.0" targetFramework="net452" />
</packages>