<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="Environment" value="Production" xdt:Locator="Match(key)" xdt:Transform="Replace" />
	</appSettings>
	<connectionStrings>
		<add name="ModelContainer" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:qt9f549unz.database.windows.net,1433;Database=OrangeJuice;User ID=OrangeJuiceProd@qt9f549unz;Password=1=AzureSqlProd!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;&quot;" providerName="System.Data.EntityClient" xdt:Locator="Match(name)" xdt:Transform="Replace" />
	</connectionStrings>
	<system.web>
		<customErrors mode="On" xdt:Transform="Replace" />
	</system.web>
</configuration>