<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="Environment" value="Development" xdt:Locator="Match(key)" xdt:Transform="Replace" />
	</appSettings>
	<connectionStrings>
		<add name="ModelContainer" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:tgqcn5cgi6.database.windows.net,1433;Database=OrangeJuiceDev;User ID=OrangeJuiceDev@tgqcn5cgi6;Password=1=AzureSqlDev!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;&quot;" providerName="System.Data.EntityClient" xdt:Locator="Match(name)" xdt:Transform="Replace" />
	</connectionStrings>
</configuration>