<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="environment:Name" value="Production"
         xdt:Locator="Match(key)" xdt:Transform="Replace" />

    <add key="sql:ConnectionString" value="Server=tcp:yyblkf5h4x.database.windows.net,1433;Database=OrangeJuice;User ID=OrangeJuiceProd@yyblkf5h4x;Password=1=SqlAzureProd!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;Application Name=OrangeJuiceApi"
         xdt:Locator="Match(key)" xdt:Transform="Replace" />

    <add key="azure:Blob" value="DefaultEndpointsProtocol=https;AccountName=orangejuice;AccountKey=1NDAa+kjUCZRKWSbeD9VCGD3cPTz50gGVktMJa+T1kR4mfyrtIyBkTdcf02t5dGejjKbOiNIgvpTRQG7YdStdg=="
         xdt:Locator="Match(key)" xdt:Transform="Replace" />
  </appSettings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <!-- TODO: uncomment later -->
    <!--
    <customErrors mode="RemoteOnly" xdt:Transform="Replace" />
    -->
  </system.web>
  <system.webServer>
    <httpErrors errorMode="DetailedLocalOnly" xdt:Transform="Replace" />
    <rewrite>
      <rules>
        <rule name="Defending against POODLE, block SSL3.0" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_X_FORWARDED_SSL30}" pattern="1" />
          </conditions>
          <action type="CustomResponse" statusCode="403" subStatusCode="900" statusReason="Forbidden" statusDescription="SSLv3 connections are forbidden by this site" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <elmah>
    <!-- TODO: uncomment later -->
    <!--
    <security allowRemoteAccess="false" xdt:Transform="Replace" />
    -->
  </elmah>
  <entityFramework codeConfigurationType="Ab.EntityFramework.AzureDbConfiguration, Ab.EntityFramework"
                   xdt:Transform="Replace">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>