<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="Environment" value="Production" xdt:Locator="Match(key)" xdt:Transform="Replace" />
	</appSettings>
	<system.web>
		<customErrors mode="On" xdt:Transform="Replace" />
	</system.web>
</configuration>