<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.diagnostics>
		<sharedListeners>
			<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="OrangeJuiceApi" />
		</sharedListeners>
		<trace>
			<listeners>
				<add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics" />
			</listeners>
		</trace>
	</system.diagnostics>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
	<system.webServer>
		<httpErrors xdt:Transform="RemoveAttributes(existingResponse)" />
	</system.webServer>
</configuration>